code {
    background-color: lightgray;
}

pre {
    white-space: initial;
    word-wrap: break-word;
    width: 70%
}
.container{
    word-wrap: break-word;
    display: flexbox !important;
}

#video_title{
    text-align: center;
}

iframe{
    align-items: center;
    padding-left: 17%;
}
.tlt{
    text-align: center;
}

#page_container {
    margin-left: 45% !important;
}

#table_of_content {
    right: 0;
}

h3 {
    text-align: center;
}